body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}

#mytitle { text-align: center;
  margin-top: 30px;
}

.smaller-container {
  max-width: 1200px;
  margin: auto;
}

.design-image {
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 100%;
}

#website {
  text-align: right;
  padding-left: 30px;
}

#logos {
  text-align: left;
  padding-right: 30px;
}

h1, h2, h3, h4 {
  font-family: 'Paytone One', sans-serif;
}

$grid-columns: 12 !default;
